/* html, body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    background-color: #ddd;
}

nav a {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #777;
    color: #fff;
}

h1 {
    color: blue;
    font-size: 2.5rem;
}

/* ul > li {
    display: inline;
} */

td > a {
    display: block;
} */